{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .init{
        background-color: #577ad8;
        border: none !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        width:100%;
    }
    .none{
        text-decoration: none;
        color:rgb(59, 58, 58);
    }
    .none:hover{
        text-decoration: none;
        color:rgb(59, 58, 58);
    }
</style>

<div class="col-12 text-center">
    <p>
        Using OTP
        <br>
        <a href="{% url 'password' %}" class='none'>(Change to Password)</a>
    </p>
</div>
<div class="col-12 d-flex justify-content-center align-items-center">
    <form method='POST' action='' class='col-8'>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">ITS ID</label>
          <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Your ITS ID" name='username'>
        </div>        
        <button type="submit" class="btn btn-primary init mt-4">Request OTP</button>
      </form>
</div>
{% endblock %}