{% extends 'admin/change_list.html' %}
{% load static %}

{% block object-tools %}
{{block.super}}
<style>
    .less{
        margin-left:-150px;
    }
    @media screen and (max-width: 1124px) {
        .less{
            margin-left:0px;
        }
    }
</style>
<div class='less'>
<a href='import_csv/' class="btn btn-outline-primary">Import</a>
<a href='to_excel/' class="btn btn-outline-primary">Export</a>
<a href='to_excel/' class="btn btn-outline-primary">Sample Excel</a>
</div>

{% endblock %}
